*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.html
*.pdf
*.png
*.tiff
*.jpg
*.tab
*.Rdata
genes.rd.txt
comp/correlation/*
comp/DE/*
comp/gene_plots/*
comp/heatmaps/*
!comp/DE/selected_genes/
leaf3_dev.Rproj
.Rproj.user
